{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Transform"                : "AWS::Serverless-2016-10-31",
    "Description"              : "Web API (net5.0 custom runtime): BLambda stack: AWS Serverless REST API Application that uses the ASP.NET Core framework running in Amazon Lambda.",

    "Parameters": {
        "DomainName": {
            "Type": "String",
            "Description": "Domain name for your REST API (api.example.com)",
            "Default": "api.blambda"
        },

        "LogLevel": {
            "Type": "String",
            "Description": "Log level for Lambda function logging, e.g., ERROR, INFO, DEBUG, etc",
            "Default": "INFO"
        }
    },

    "Resources": {

        "WebApiFunction" : {
            "Type" : "AWS::Serverless::Function",
            "Properties" : { 
                "Handler": "not_required_for_custom_runtime",
                "Runtime": "provided",
                "MemorySize": 128,
                "Timeout": 10,
                "CodeUri": "../BLambda.Will/bin/Release/net5.0/BLambda.Will.zip",
                "Role": null,
                "Policies"    : [
                    "AWSLambda_FullAccess"
                ],
                "Environment": {
                    "Variables": {
                        "LOG_LEVEL": { "Ref": "LogLevel" }
                    }
                },
                "Events"      : {
                    "ProxyResource" : {
                        "Type" : "HttpApi",
                        "Properties" : {
                           "ApiId" : {"Ref" : "HttpApi"},
                            "Path" : "/{proxy+}",
                            "Method" : "ANY"
                        }
                    },
                    "RootResource"  : {
                        "Type" : "HttpApi",
                        "Properties" : {
                            "ApiId" : {"Ref" : "HttpApi"},
                            "Path" : "/",
                            "Method" : "ANY"
                        }
                    }
                },

                "Tags": {
                    "SERVICE":  "blambda-will",
                    "TRIGGER":  "gateway",
                    "ROUTE":    { "Fn::Sub" : "${DomainName}/+" }
                }
            }
        },

        "HttpApi":{
            "Type" : "AWS::Serverless::HttpApi",
            "Properties" : {
                "AccessLogSettings": {
                    "DestinationArn": { "Fn::GetAtt" : ["AccessLog", "Arn"]},
                    "Format": "{\"requestId\":\"$context.requestId\", \"ip\": \"$context.identity.sourceIp\", \"caller\":\"$context.identity.caller\", \"user\":\"$context.identity.user\",\"requestTime\":\"$context.requestTime\", \"routeKey\":\"$context.routeKey\", \"status\":\"$context.status\"}"
                }
            }
        },

        "AccessLog" : {
            "Type" : "AWS::Logs::LogGroup",
            "Properties" : {
                "RetentionInDays" : 7
            }
        }
    },
    "Outputs": {
        "ApiUrl" : {
            "Description" : "API endpoint URL for Prod environment",
            "Value"       : {
                "Fn::Sub" : "https://${HttpApi}.execute-api.${AWS::Region}.amazonaws.com/"
            }
        }
    }
}