{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Description" : "BLambda stack: is here.",


    "Parameters": {
        "RootDomainName": {
            "Description": "Domain name for your website (example.com)",
            "Type": "String"
        }
    },

    "Resources" : {
        "RootBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
                "BucketName" : {"Ref":"RootDomainName"},
                "AccessControl" : "PublicRead",
                "WebsiteConfiguration": {
                    "IndexDocument":"index.html"
                }
            }
        }
    },

    "Outputs" : {
        "WebsiteURL" : {
            "Value" : { "Fn::GetAtt" : [ "RootBucket", "WebsiteURL" ] },
            "Description" : "URL for website hosted on S3"
        },
        "S3BucketSecureURL" : {
            "Value" : { "Fn::Join" : [ "", [ "https://", { "Fn::GetAtt" : [ "RootBucket", "DomainName" ] } ] ] },
            "Description" : "Name of S3 bucket to hold website content"
        }
    }
}
